Repository TOBE-TOGETHER/tobe-blog, pull requests merged in 2024-07, with the labels that each got.

#35 Add personal portal page
  tobe_blog_service/src/main/resources/com/tobe/blog/portal/mapper/PublicApiMapper.xml
  tobe_blog_web/src/global/types.ts
  tobe_blog_web/src/portal/PortalRoutes.tsx
  tobe_blog_web/src/portal/containers/personalPortal/IntroducationSection.tsx
  tobe_blog_web/src/portal/containers/personalPortal/PersonalPortalPage.tsx
  tobe_blog_web/src/services/PublicDataService.ts
Labels: 🖥️ SERVER, 🕸️ WEB

#34 feat: manage user module profile
  tobe_blog_service/src/main/java/com/tobe/blog/beans/dto/user/UserFeatureDTO.java
  tobe_blog_service/src/main/java/com/tobe/blog/beans/dto/user/UserUpdateDTO.java
  tobe_blog_service/src/main/java/com/tobe/blog/beans/entity/user/UserFeatureEntity.java
  tobe_blog_service/src/main/java/com/tobe/blog/core/service/UserService.java
  tobe_blog_service/src/test/java/com/tobe/blog/DefaultTestData.java
  tobe_blog_service/src/test/java/com/tobe/blog/core/service/UserServiceTests.java
  tobe_blog_service/src/test/resources/schema/data.sql
  tobe_blog_service/src/test/resources/schema/table.sql
  tobe_blog_web/src/admin/components/navigator/SideNav.tsx
  tobe_blog_web/src/admin/containers/analytics/AnalyticsPage.tsx
  tobe_blog_web/src/admin/containers/profileSettingPage/ProfileSettingPage.tsx
  tobe_blog_web/src/global/enums.ts
  tobe_blog_web/src/global/types.ts
  tobe_blog_web/src/portal/containers/home/FeaturedNews.tsx
  tobe_blog_web/src/portal/containers/personalPortal/PersonalPortalPage.tsx
  tobe_blog_web/src/services/UserService.ts
Labels: 🖥️ SERVER, 🕸️ WEB

#38 Aadd content admin module
  tobe_blog_service/src/main/java/com/tobe/blog/beans/dto/content/BaseContentDTO.java
  tobe_blog_service/src/main/java/com/tobe/blog/beans/dto/content/ContentAdminDTO.java
  tobe_blog_service/src/main/java/com/tobe/blog/beans/entity/content/ContentAdminEntity.java
  tobe_blog_service/src/main/java/com/tobe/blog/content/controller/impl/ContentAdminController.java
  tobe_blog_service/src/main/java/com/tobe/blog/content/controller/impl/ContentGeneralInfoController.java
  tobe_blog_service/src/main/java/com/tobe/blog/content/mapper/ContentAdminMapper.java
  tobe_blog_service/src/main/java/com/tobe/blog/content/mapper/ContentGeneralInfoMapper.java
  tobe_blog_service/src/main/java/com/tobe/blog/content/service/impl/BaseContentService.java
  tobe_blog_service/src/main/java/com/tobe/blog/content/service/impl/ContentAdminService.java
  tobe_blog_service/src/main/java/com/tobe/blog/content/service/impl/ContentGeneralInfoService.java
  tobe_blog_service/src/main/resources/com/tobe/blog/content/mapper/BaseContentMapper.xml
  tobe_blog_service/src/main/resources/com/tobe/blog/content/mapper/ContentGeneralInfoMapper.xml
  tobe_blog_service/src/main/resources/com/tobe/blog/portal/mapper/PublicApiMapper.xml
  tobe_blog_service/src/test/resources/schema/table.sql
  tobe_blog_web/public/locales/en/translation.json
  tobe_blog_web/public/locales/zh/translation.json
  tobe_blog_web/src/admin/AdminRoutes.tsx
  tobe_blog_web/src/admin/components/header/AdminHeader.tsx
  tobe_blog_web/src/admin/components/header/HeaderUserMenu.tsx
  tobe_blog_web/src/admin/components/index.ts
  tobe_blog_web/src/admin/components/layout/AdminLayout.tsx
  tobe_blog_web/src/admin/components/misc/CardHeaderActionButton.tsx
  tobe_blog_web/src/admin/components/navigator/NavItems.tsx
  tobe_blog_web/src/admin/components/navigator/SideNav.tsx
  tobe_blog_web/src/admin/components/table/PagedTable.tsx
  tobe_blog_web/src/admin/components/table/TableButton.tsx
  tobe_blog_web/src/admin/components/table/TobeButton.tsx
  tobe_blog_web/src/admin/containers/contentAdmin/ContentAdminPage.tsx
  tobe_blog_web/src/components/index.ts
  tobe_blog_web/src/components/layout/HeaderLanguageMenu.tsx
  tobe_blog_web/src/components/layout/HeaderUserMenu.tsx
  tobe_blog_web/src/components/layout/index.ts
  tobe_blog_web/src/global/enums.ts
  tobe_blog_web/src/global/types.ts
  tobe_blog_web/src/portal/PortalRoutes.tsx
  tobe_blog_web/src/portal/components/AuthorDisplayPanel.tsx
  tobe_blog_web/src/portal/components/RelevantContentPanel.tsx
  tobe_blog_web/src/portal/components/index.ts
  tobe_blog_web/src/portal/components/layout/PortalHeader.tsx
  tobe_blog_web/src/portal/components/layout/PortalLayout.tsx
  tobe_blog_web/src/portal/components/layout/SingleBoxLayout.tsx
  tobe_blog_web/src/portal/components/layout/configs.ts
  tobe_blog_web/src/portal/containers/content/ContentReadingPage.tsx
  tobe_blog_web/src/portal/containers/home/Home.tsx
  tobe_blog_web/src/portal/containers/personalPortal/PersonalPortalPage.tsx
  tobe_blog_web/src/portal/containers/signIn/SignIn.tsx
  tobe_blog_web/src/portal/containers/signUp/SignUp.tsx
  tobe_blog_web/src/routes/MainRouter.tsx
  tobe_blog_web/src/routes/URL.ts
  tobe_blog_web/src/services/ContentAdminService.ts
  tobe_blog_web/src/services/index.ts
Labels: 🖥️ SERVER, 🕸️ WEB

#39 fix(sonar): fix the sonar error
  tobe_blog_web/src/admin/components/table/PagedTable.tsx
  tobe_blog_web/src/admin/components/table/TableButton.tsx
  tobe_blog_web/src/components/layout/HeaderUserMenu.tsx
  tobe_blog_web/src/portal/components/layout/PortalHeader.tsx
  tobe_blog_web/src/portal/components/layout/PortalLayout.tsx
  tobe_blog_web/src/portal/components/layout/SingleBoxLayout.tsx
Labels: :art: format

#43 fix(tobe-icon): fix the display issue on safari and firefox
  tobe_blog_web/src/components/common/StrokeText.tsx
Labels: :lipstick: style

#44 feat(content): mark content banned or recommend
  tobe_blog_web/public/locales/en/translation.json
  tobe_blog_web/public/locales/zh/translation.json
  tobe_blog_web/src/admin/components/navigator/SideNav.tsx
  tobe_blog_web/src/admin/containers/content/components/GeneralCard.tsx
  tobe_blog_web/src/components/common/StrokeText.tsx
  tobe_blog_web/src/global/types.ts
  tobe_blog_web/src/portal/components/layout/PortalHeader.tsx
  tobe_blog_web/src/portal/containers/home/FeaturedNews.tsx
  tobe_blog_web/src/portal/containers/home/NewsListItem.tsx
Labels: :sparkles: feature

#47 Optimize loading icon
  tobe_blog_service/src/main/resources/com/tobe/blog/content/mapper/ArticleMapper.xml
  tobe_blog_web/src/admin/components/navigator/SideNav.tsx
  tobe_blog_web/src/admin/containers/content/article/ArticleCreationPage.tsx
  tobe_blog_web/src/admin/containers/content/article/ArticleDetailPage.tsx
  tobe_blog_web/src/admin/containers/content/collection/CollectionCreationPage.tsx
  tobe_blog_web/src/admin/containers/content/collection/CollectionDetailPage.tsx
  tobe_blog_web/src/admin/containers/content/plan/PlanCreationPage.tsx
  tobe_blog_web/src/admin/containers/content/plan/PlanDetailPage.tsx
  tobe_blog_web/src/admin/containers/content/vocabulary/VOCCreationPage.tsx
  tobe_blog_web/src/admin/containers/content/vocabulary/VOCDetailPage.tsx
  tobe_blog_web/src/components/loading/Loading.tsx
  tobe_blog_web/src/components/loading/LoadingIcon.tsx
  tobe_blog_web/src/portal/components/ContentPageFrame.tsx
  tobe_blog_web/src/portal/components/index.ts
  tobe_blog_web/src/portal/components/layout/PortalHeader.tsx
  tobe_blog_web/src/portal/containers/content/ContentReadingPage.tsx
  tobe_blog_web/src/portal/containers/content/collection/CollectionReadingPage.tsx
  tobe_blog_web/src/portal/containers/home/FeaturedNews.tsx
  tobe_blog_web/src/portal/containers/home/NewsListItem.tsx
Labels: 🕸️ WEB
