Repository TOBE-TOGETHER/tobe-blog, pull requests merged in 2024-05, with the labels that each got.

#2 feat1: Init the repo with basic framework
  tobe_blog_service/.gitignore
  tobe_blog_service/LICENSE
  tobe_blog_service/README.md
  tobe_blog_service/pom.xml
  tobe_blog_service/src/main/java/com/tobe/blog/Application.java
  tobe_blog_service/src/main/resources/schema/table.sql
  tobe_blog_service/src/test/java/tobe/TobeApplicationTests.java
  tobe_blog_web/.gitignore
  tobe_blog_web/.prettierrc.json
  tobe_blog_web/package-lock.json
  tobe_blog_web/package.json
  tobe_blog_web/public/favicon.ico
  tobe_blog_web/public/index.html
  tobe_blog_web/public/logo192.png
  tobe_blog_web/public/logo512.png
  tobe_blog_web/public/manifest.json
  tobe_blog_web/public/robots.txt
  tobe_blog_web/setupTests.ts
  tobe_blog_web/src/index.tsx
  tobe_blog_web/src/react-app-env.d.ts
  tobe_blog_web/src/reportWebVitals.ts
  tobe_blog_web/tsconfig.json
Labels: SERVER, WEB

#4 feat1: adding configs
  tobe_blog_service/src/main/resources/application-dev.yml
  tobe_blog_service/src/main/resources/application.yml
  tobe_blog_service/src/test/java/com/tobe/blog/ApplicationTests.java
  tobe_blog_service/src/test/java/tobe/TobeApplicationTests.java
  tobe_blog_web/package.json
  tobe_blog_web/src/theme.ts
Labels: SERVER, WEB

#3 docs(README): Simple introduction for tobe blog web
  .github/PULL_REQUEST_TEMPLATE.md
  tobe_blog_web/README.md
  tobe_blog_web/package-lock.json
  tobe_blog_web/package.json
Labels: :memo: documentation, WEB

#10 feat(routes): init basic routes
  .idea/.gitignore
  .idea/GitCommitMessageStorage.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/jsLinters/eslint.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/stylesheetLinters/stylelint.xml
  .idea/tobe_blog.iml
  .idea/vcs.xml
  .idea/workspace.xml
  tobe_blog_web/.eslintrc.cjs
  tobe_blog_web/.gitignore
  tobe_blog_web/index.html
  tobe_blog_web/package-lock.json
  tobe_blog_web/package.json
  tobe_blog_web/public/index.html
  tobe_blog_web/src/components/footer/AppFooter.tsx
  tobe_blog_web/src/components/footer/CopyRight.tsx
  tobe_blog_web/src/components/footer/index.ts
  tobe_blog_web/src/components/layout/BasicLayout.tsx
  tobe_blog_web/src/components/layout/FrontendLayout.tsx
  tobe_blog_web/src/components/layout/Page.tsx
  tobe_blog_web/src/components/layout/SidePanel.tsx
  tobe_blog_web/src/components/layout/index.ts
  tobe_blog_web/src/components/loading/Loading.tsx
  tobe_blog_web/src/index.tsx
  tobe_blog_web/src/main.tsx
  tobe_blog_web/src/portal/components/PortalHeader.tsx
  tobe_blog_web/src/portal/components/index.ts
  tobe_blog_web/src/portal/containers/home/Home.tsx
  tobe_blog_web/src/portal/containers/signIn/SignIn.tsx
  tobe_blog_web/src/portal/containers/signUp/SignUp.tsx
  tobe_blog_web/src/routes/MainRouter.tsx
  tobe_blog_web/src/routes/URL.ts
  tobe_blog_web/src/routes/index.ts
  tobe_blog_web/src/vite-env.d.ts
  tobe_blog_web/tsconfig.json
  tobe_blog_web/tsconfig.node.json
  tobe_blog_web/vite.config.ts
Labels: 🕸️ WEB, :construction: WIP

#12 chore: implement vite cli in the project
  .idea/.gitignore
  .idea/GitCommitMessageStorage.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/jsLinters/eslint.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/stylesheetLinters/stylelint.xml
  .idea/tobe_blog.iml
  .idea/vcs.xml
  .idea/workspace.xml
  .vscode/.settings.json
  tobe_blog_service/src/main/resources/application-test.yml
  tobe_blog_web/.eslintrc.cjs
  tobe_blog_web/.gitignore
  tobe_blog_web/.prettierrc
  tobe_blog_web/.prettierrc.json
  tobe_blog_web/README.md
  tobe_blog_web/index.html
  tobe_blog_web/package-lock.json
  tobe_blog_web/package.json
  tobe_blog_web/public/index.html
  tobe_blog_web/public/robots.txt
  tobe_blog_web/setupTests.ts
  tobe_blog_web/src/components/footer/AppFooter.tsx
  tobe_blog_web/src/components/footer/CopyRight.tsx
  tobe_blog_web/src/components/footer/index.ts
  tobe_blog_web/src/components/layout/BasicLayout.tsx
  tobe_blog_web/src/components/layout/FrontendLayout.tsx
  tobe_blog_web/src/components/layout/Page.tsx
  tobe_blog_web/src/components/layout/SidePanel.tsx
  tobe_blog_web/src/components/layout/index.ts
  tobe_blog_web/src/components/loading/Loading.tsx
  tobe_blog_web/src/index.tsx
  tobe_blog_web/src/main.tsx
  tobe_blog_web/src/portal/components/PortalHeader.tsx
  tobe_blog_web/src/portal/components/index.ts
  tobe_blog_web/src/portal/containers/home/Home.tsx
  tobe_blog_web/src/portal/containers/signIn/SignIn.tsx
  tobe_blog_web/src/portal/containers/signUp/SignUp.tsx
  tobe_blog_web/src/react-app-env.d.ts
  tobe_blog_web/src/reportWebVitals.ts
  tobe_blog_web/src/routes/MainRouter.tsx
  tobe_blog_web/src/routes/URL.ts
  tobe_blog_web/src/routes/index.ts
  tobe_blog_web/src/theme.ts
  tobe_blog_web/src/vite-env.d.ts
  tobe_blog_web/tsconfig.json
  tobe_blog_web/tsconfig.node.json
  tobe_blog_web/vite.config.ts
Labels: 🕸️ WEB, :sparkles: feature, :construction: WIP

#14 feat(files): paste files from tobe_ui
  .idea/workspace.xml
  tobe_blog_web/env/.env
  tobe_blog_web/env/.env.development
  tobe_blog_web/env/.env.production
  tobe_blog_web/package-lock.json
  tobe_blog_web/package.json
  tobe_blog_web/src/commons/TimeFormat.ts
  tobe_blog_web/src/commons/index.ts
  tobe_blog_web/src/components/footer/CopyRight.tsx
  tobe_blog_web/src/contexts/index.ts
  tobe_blog_web/src/contexts/types.ts
  tobe_blog_web/src/contexts/user/action.ts
  tobe_blog_web/src/contexts/user/context.tsx
  tobe_blog_web/src/contexts/user/reducer.ts
  tobe_blog_web/src/global/declare.d.ts
  tobe_blog_web/src/global/types.ts
  tobe_blog_web/src/main.tsx
  tobe_blog_web/src/services/ArticleService.ts
  tobe_blog_web/src/services/AuthService.ts
  tobe_blog_web/src/services/DomainService.ts
  tobe_blog_web/src/services/OverviewService.ts
  tobe_blog_web/src/services/ProjectProgressService.ts
  tobe_blog_web/src/services/ProjectService.ts
  tobe_blog_web/src/services/PublicDataService.ts
  tobe_blog_web/src/services/SubjectService.ts
  tobe_blog_web/src/services/TagService.ts
  tobe_blog_web/src/services/UserService.ts
  tobe_blog_web/src/services/VocabularyService.ts
  tobe_blog_web/src/services/WordService.ts
  tobe_blog_web/src/services/index.ts
  tobe_blog_web/src/services/server.ts
  tobe_blog_web/vite.config.ts
Labels: 🕸️ WEB
